---
- name: Configurate VM UFW
  hosts: vm
  become: true

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Install UFW
      ansible.builtin.apt:
        name: ufw
        state: present
    
    - name: Allow SSH
      community.general.ufw:
        rule: allow
        port: 22
        proto: tcp

    - name: Allow HTTP
      community.general.ufw:
        rule: allow
        port: 80
        proto: tcp

    - name: Enable UFW
      community.general.ufw:
        state: enabled
        policy: deny