name: Test FastAPI app

on:
  push:
    branches:
      - main
      - backend

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Set Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install UV
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - name: Install dependencies
        working-directory: ./API
        run: uv sync

      - name: Run Ruff
        working-directory: ./API
        run: uv run ruff check

      - name: Run Pytest
        working-directory: ./API
        run: uv run pytest